@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap");
/*fontes*/
html,
body {
  scroll-behavior: smooth;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  font-family: Playfair Display, serif, bold;
  font-size: 14px;
  color: #131515;
  margin: 0;
  padding: 0;
}

:target {
  scroll-margin-top: 80px;
}

p {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/**
 * Remove anchor text-decoration
 */
a {
  text-decoration: none;
}

/* Remove list-style*/
ol,
ul {
  list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.btn {
  border: 3px solid #339989;
  border-radius: 50px;
  padding: 10px 30px;
  color: #339989;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.btn:hover {
  color: #FFFAFB;
  border-color: #FFFAFB;
}

.btn.btn-preto:hover {
  color: #131515;
  border-color: #131515;
}

.btn-mobile {
  display: none;
}

.titulo {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #339989;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 40px;
}

.titulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #339989;
  text-align: left;
  margin: 8px auto;
  margin-left: 0;
}

.subtitulo {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #131515;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #131515;
  margin: 8px auto;
}

/*Grids*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.grid-1 {
  width: 70px;
}
.grid-2 {
  width: 100px;
}
.grid-3 {
  width: 160px;
}
.grid-4 {
  width: 220px;
}
.grid-5 {
  width: 280px;
}
.grid-6 {
  width: 340px;
}
.grid-7 {
  width: 400px;
}
.grid-8 {
  width: 450px;
}
.grid-9 {
  width: 520px;
}
.grid-10 {
  width: 580px;
}
.grid-11 {
  width: 640px;
}
.grid-12 {
  width: 700px;
}
.grid-13 {
  width: 760px;
}
.grid-14 {
  width: 820px;
}
.grid-15 {
  width: 880px;
}
.grid-16 {
  width: 940px;
}
.grid-1-3 {
  width: 140px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
  .grid-1 {
    width: 28px;
  }
  .grid-2 {
    width: 76px;
  }
  .grid-3 {
    width: 124px;
  }
  .grid-4 {
    width: 172px;
  }
  .grid-5 {
    width: 220px;
  }
  .grid-6 {
    width: 268px;
  }
  .grid-7 {
    width: 316px;
  }
  .grid-8 {
    width: 364px;
  }
  .grid-9 {
    width: 412px;
  }
  .grid-10 {
    width: 460px;
  }
  .grid-11 {
    width: 508px;
  }
  .grid-12 {
    width: 556px;
  }
  .grid-13 {
    width: 604px;
  }
  .grid-14 {
    width: 652px;
  }
  .grid-15 {
    width: 700px;
  }
  .grid-16 {
    width: 748px;
  }
  .grid-1-3 {
    width: 236px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16,
  .grid-1-3 {
    width: 300px;
    margin: 0 0 20px 0;
    float: none;
  }
}

/* Header */
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 40px;
  padding-bottom: 50px;
  background: #339989;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#logo {
  width: 100px;
  height: 60px;
  margin-top: 5px;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  gap: 1rem;
  margin-left: 10rem;
  padding-top: 10px;
}

#menu a {
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
}

#menu a:hover {
  color: #FFFAFB;
}

#menu a.menu_ativo {
  color: #FFFAFB;
}

#btn-mobile {
  display: none;
}

.icons img {
  width: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.icons ul li {
  margin-top: 28px;
  float: right;
}

.icons ul li a {
  border: 3px solid #339989;
  display: block;
  padding: 5px;
  border-radius: 50px;
}

.icons ul li a:hover {
  border-color: #FFFAFB;
}

/* Banner */
.swiper-container {
  width: 100%;
  height: 520px;
  margin-top: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #7DE2D1;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: white;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #FFFAFB;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}

/*lifestyle*/
.lifestyle {
  padding: 60px 0;
}

.lifestyle_lista li img {
  width: 125px;
  height: 125px;
  background-color: #000;
  color: #FFF;
  border-radius: 50%;
}

.lifestyle_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.lifestyle_icone {
  width: 125px;
  background: #131515;
  padding: 2px;
  border-radius: 150px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/*Treinamentos*/
.treinamentos {
  width: 100%;
  height: 500px;
  background: #131515;
  padding: 40px 0;
}

.treinamentos .subtitulo {
  color: #339989;
}

.treinamentos .subtitulo:after {
  background: #339989;
}

.treinamentos_lista li:last-child {
  margin-top: 20px;
}

#treina {
  margin: 50px;
  color: #FFFAFB;
}

#treina p {
  margin-left: 0;
  padding-right: 50px;
  text-align: left;
}

#treina1 {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #cfd0d0;
  border-radius: 3px;
}

#treina1 img {
  width: auto;
  height: auto;
}

#treina2,
#treina3 {
  width: 300px;
  background-color: #cfd0d0;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px #000;
  border-radius: 3px;
}

#treina2 img,
#treina3 img {
  max-width: 300px;
  width: auto;
  height: auto;
}

#treina1,
#treina2,
#treina3,
p {
  margin: 0.8rem;
  text-align: center;
  padding-bottom: 5px;
}

/*Produtos*/
.produtos {
  width: 70%;
  height: 400px;
  background: #7DE2D1;
  padding: 40px 0;
  margin-top: 520px;
}

.produtos_lista {
  margin-left: 50px;
  margin-right: 0;
}

.produtos h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #2B2C28;
  text-transform: uppercase;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 40px;
}

.produtos h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #2B2C28;
  text-align: left;
  margin: 8px auto;
  margin-left: 0;
}

.produtos p {
  margin-bottom: 35px;
  text-align: left;
}

#slide2 {
  margin-top: 40px;
  margin-left: 5rem;
  margin-right: 0;
  margin-bottom: 10rem;
  width: 350px;
  height: 250px;
}

/*Instagram*/
.insta {
  padding: 40px 0;
  margin-bottom: 420px;
}

.insta_lista {
  margin: auto;
}

.titulo_insta {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #131515;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

#insta_info p {
  width: auto;
  background-color: #cfd0d0;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px #000;
  border-radius: 3px;
  padding: 40px;
}

/*Footer*/
hr {
  margin: 55px 0;
}

.logo_footer {
  width: 100%;
}

.footer {
  width: 100%;
  background: #131515;
  color: #FFFAFB;
  padding: 50px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #339989;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #339989;
  margin: 6px 0 12px 0;
}

#menu1 {
  margin-left: 0;
}

.footer_menu ul li a {
  letter-spacing: .1em;
  color: #cfd0d0;
  font-size: 16px;
}

.footer_menu li a:hover {
  color: #339989;
}

.footer_redes img {
  width: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #339989;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #339989;
  display: block;
  padding: 10px;
  border-radius: 50px;
}

.footer_redes ul li a:hover {
  border-color: #FFFAFB;
}

.campo_email {
  margin-left: 10px;
  padding: 6.5px;
  border: 0;
  border-radius: 50px;
}

#submit {
  background-color: #339989;
  padding: 6.5px;
  border: 0;
  border-radius: 50px;
}

.copy {
  width: 100%;
  background: #339989;
  text-align: center;
}

/*Estilo para smartphone e tablet*/
@media only screen and (max-width: 980px) {
  .grid-5 {
    width: auto;
  }
  .grid-6 {
    width: auto;
  }
  .grid-7 {
    width: auto;
  }
  .grid-8 {
    width: auto;
  }
  /*Header*/
  a:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
  }
  #header {
    padding-bottom: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_menu {
    display: none;
  }
  #logo {
    width: 6.3rem;
    z-index: 999;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0;
    height: 0px;
    background: #339989;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  .call {
    text-align: center;
  }
  .btn:hover {
    border-radius: 50px;
  }
  #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
  .icons {
    display: none;
  }
  .icons img {
    width: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .icons ul li {
    margin-top: 20px;
    text-align: right;
  }
  .icons ul li a {
    border: 3px solid #339989;
    padding: 5px;
    border-radius: 50px;
  }
  /* Banner */
  .swiper-container {
    width: auto;
    height: 360px;
  }
  /*lifestyle*/
  .lifestyle {
    padding: 80px 0;
    width: 150px;
  }
  /*Treinamentos*/
  .treinamentos {
    width: 100%;
    height: auto;
    background: #131515;
    padding: 40px 0;
  }
  .treinamentos .subtitulo {
    color: #339989;
  }
  .treinamentos .subtitulo:after {
    background: #339989;
  }
  .titulo {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #FFFAFB;
    text-transform: uppercase;
    text-align: center;
  }
  .titulo::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #FFFAFB;
    text-align: center;
    margin: 8px auto;
  }
  .subtitulo {
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #131515;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  }
  .subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #131515;
    margin: 8px auto;
  }
  #treina {
    color: #FFFAFB;
  }
  #treina p {
    margin-left: 30px;
    padding-right: 10px;
    text-align: center;
  }
  #treina2,
  #treina3 {
    width: auto;
  }
  #treina2 img,
  #treina3 img {
    max-width: 100%;
  }
  #treina1,
  #treina2,
  #treina3,
  p {
    margin: 30px;
    padding-bottom: 5px;
  }
  /*Produtos*/
  .produtos {
    width: 100%;
    height: auto;
    padding: 40px 0;
    padding-top: 2rem;
    background: #7DE2D1;
    margin-top: 0;
  }
  .produtos_lista {
    margin-left: 0;
  }
  #produto_img {
    margin: 2rem;
  }
  .produtos h1 {
    text-align: center;
    margin: auto;
  }
  .produtos h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #2B2C28;
    text-align: center;
    margin: 8px auto;
  }
  .produtos p {
    margin-left: 30px;
    padding-right: 10px;
    text-align: center;
  }
  #slide2 {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
  /*Instagram*/
  .insta {
    margin-top: 3rem;
    margin-bottom: 0.1rem;
  }
  .insta_lista {
    margin: auto;
  }
  #insta_info p {
    padding: 30px;
  }
  /*footer*/
  #logo_footer img {
    width: 8rem;
    margin: auto;
  }
  .footer h3 {
    margin-left: 0;
    text-align: center;
  }
  .footer h3:after {
    margin: 8px auto;
    margin-bottom: 1rem;
    text-align: center;
  }
  .footer_menu {
    text-align: center;
  }
  .footer_redes {
    text-align: center;
  }
  .footer_contato {
    text-align: center;
  }
}
@media only screen and (max-width: 1400px){
  .grid-5 {
    width: 268px;
  }
  .produtos {
    width: 80%;
  }
  .swiper-container {
    height: 420px;
  }

}
/*# sourceMappingURL=style.css.map */